ul.navigation {
    margin: 0;
    padding: 0;
}

ul.navigation li {
    display: inline;
    list-style: none;
    padding:10px;
}

ul.row-action {
    margin: 0;
    padding: 0;
}

ul.row-action li {
    display: inline;
    list-style: none;
}
